html {
    height: 100%;
}

body {
    height: 100%; 
    font-family: 'Source Sans Pro', sans-serif;
}
/* to make it responsive */
@media only screen and (max-width: 600px) {
    .nav.navbar-nav.navbar-right {
        display: flex;
        justify-content: space-around;
    }
    .headline-pages {
        padding-top: 120px;
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 50px;;
    }
    .container-contact {
        padding-top: 100px;
    }
    .tables {
        overflow-x: scroll;
    }
    h2 {
        margin-left: 6%;
    }
}

/* navbar */
.navbar {
    margin-bottom: 0px;
    height: 7%;
}
.pull-left {
    margin-left:10%;
    margin-top: 2%;
}
.container-fluid {
    height:10%;
}
.dropdown-create {
    border: 0px;
	background: none;
    cursor:pointer;
    max-width: 56px;
    height: 49px;
    margin-top: 4px;
    background-color: #f8f8f8 !important;
    color: black; 
}

/* headlines */
.headline-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 3%; 
}
.headline-pages h1 {
    font-weight: bold;
    font-size: 40px;
}
.headline-pages h3 {
    font-size: 22px;
    color: grey;
}

/*search bar*/
.search {
    width: 90%;
	margin: 3% auto;
	border: 1px solid #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.2);
}
.search-form {
    display: flex;
    justify-content: space-between;
}
.search-buttons {
    display: flex;
}
.search input[type="text"] {
	border: 0px;
	width: 67%;
    padding: 10px 10px;
    background-color: white;
}
.search input[type="text"]:focus {
	outline: 0;
}
.search input[type="submit"] {
	border: 0px;
	background: none;
	background-color: #e7e7e7;
	color: grey;
	padding: 10px;
    cursor:pointer;
}
.dropdown {
    border: 0px;
	background: none;
	background-color: #e7e7e7;
	color: grey;
    cursor:pointer;
    max-width: 56px;
    height: 42px;
}
.dropdown-menu {
    min-width: 118px;
    width: 118px;
}

/* tables */
.tables {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2.5%;
}
h2 {
    margin-left: 6%;
}
.favorited {
    color: red;
}

/* forms*/
.container-contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10% 

}
.container-form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-self: center;
    width: 50%;
}
.container-form h2 {
    padding-bottom: 1.5%;
}
